body{
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    text-align: center;
    color: hsl(341, 71%, 50%);
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
}

.calculator{
    width: auto;
    height: auto;
    background-color: rgba(207, 146, 146, 0.912);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #dd084c;
    box-shadow: 50px 50px 50px rgba(211, 113, 113, 0.557);
}

#display{
    width: 90%;
    height: 40px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-color: #dd084c;
    border-width: 2px;
}

/* .content{
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 50px 50px 50px rgba(201, 111, 111, 0.487);
} */

.button{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
    border-radius: 20px;
}

button:hover{
    background-color: hsl(341, 77%, 62%);
    color: white;
    cursor: pointer;
}